.LoadingLogo {
  height: 20%;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .LoadingLogo {
    animation: logo-spin infinite 10s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
